@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
::-webkit-scrollbar{
  width: 4px;
  background-color: #333333;
}
::-webkit-scrollbar-track{
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background-color:#aaaaaa ;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sitename .logo{
  margin-left: 10px;
  cursor: pointer; 
  text-decoration: none; 
  color: white;
}
body{
  overflow: auto;
} 
nav{
  display: flex;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: fixed;
  z-index: 9999;
}
nav .sitename{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 0;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .toogle-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

.men{
  box-sizing: border-box;
  margin-top: ;
}
.contact {
  position: relative;
  min-height: 100vh;
  padding:50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
    font-size: 36px;
  font-weight: 500;
  color: #000;
}
.contact .content p{
  font-weight: 300;
  color: #000;
}

.cntainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.cntainer.cinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dbox{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.txt
{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #000;
  flex-direction: column;
  font-weight: 300;
}

.text h3{
  font-weight: 500;
  color: purple;
}

.contform{
  width: 40%;
  padding: 40px;
  background: ghostwhite;
  margin-left: 260px;
}

.contform h2{
  font-size: 30px;
  color: #000;
  font-weight: 500;
}
.contform .inputbx{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contform .inputbx input,
.contform .inputbx textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  background: ghostwhite;
  border-bottom: 2px solid #000;
  outline: none;
  resize: none;
}
.contform .inputbx span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contform .inputbx input:focus ~ span,
.contform .inputbx input:valid ~ span,
.contform .inputbx textarea:focus ~ span,
.contform .inputbx textarea:valid ~ span
{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contform .inputbx input[type="submit"]
{
  width: 100px;
  background: #1b1b1b;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.recentworks{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.recentworks .resecard{
  position: relative;
  width: 300px;
  height: 420px;
  background: #F6F8FA;
  margin: 90px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
  transition: .5s;
}
.recentworks .resecard .recimg{
  position: relative;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
  clip-path: circle(180px at center 0);
  text-align: center;
}

.recentworks .resecard .recimg i{
  color: #fff;
  font-size: 4.5em;
  padding: 30px 0;
}

.reachout{
  position: absolute;
  bottom: 10px;
  padding: 20px;
  text-align: center;
}
.reachout p{
  color: #666;
}
.reachout a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #1b1b1b;
  color: white;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
}
.reachout a:hover{
  background: darkgrey;
  color: white;
}

@media (max-width: 1024px){
 .quiz_box header .time_line{
    display: none;
  }
  nav{
    padding: 0 40px 0 50px;
  }


}
@media (max-width: 920px) {
 
  nav .toogle-btn i{
    display: block;
  }
  #toogle:checked ~ .toogle-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 49px;
    left: 100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #toogle:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: 100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #toogle:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  .contact{
    padding: 50px;
  }
  .cntainer{
    flex-direction: column;
  }
  .cntainer .cinfo{
    margin-bottom: 40px;
  }
  .cntainer .cinfo,.contform{
    width: 100%;
  }
  .contform{
    margin-left: 0;
  }

}

.app-footer {
  flex-shrink: 0;
  background: #222;
  color: white;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}

.app-footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.app-footer ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-footer ul li i {
  font-size: 22px;
  color: white;
  transition: 0.5s ease-out;
}

.app-footer ul li i:hover {
  transform: scale(.9);
  color: rgb(121, 116, 116);
}
.container{
  position: relative;
  margin-top: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
}
.cardheading{
  text-align: center;
  color: black;
  margin: 0;
}

.box{
  max-width: 600px;
  padding: 10px;
  border: 1px solid black;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}

.box img{
  max-width: 300px;
  height: 70px;
  float: left;
  display: block;
  object-fit: cover;
  padding: 5px;
}
.box .heading,
.box .text{
  width: 100%;
  padding: 0 5px;
  min-width: 300px;
}
.table-box
{
    margin: 75px auto;
}

.table-row{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0,0,50,0.3);
}
.table-head{
    background: #1b1b1b;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}
.table-head .table-cell{
    border-right: none;
}
.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    border-right: none;
}
a{
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}
@media (max-width: 620px){
.box{
  max-width: 90vw;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px auto;
}
.box img{
  float: unset;
}
.container{
  margin-bottom: 50px;
}
.sitename .logo{
  margin-left: 0;
}
}